html, body {
	padding: 0;
	margin: 0;
}
body {
	min-width: 320px;
	margin-top: 30px;
	
	font-family: 'Roboto', sans-serif;
	color: #1f1f24;
}
a {
	text-decoration: none;
	color: #1f1f24;
}
h1, h2, p {
	padding: 0;
	margin: 0;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container {
	/* max-width: 1250px; */
	padding: 0 20px;
	margin: 0 auto;
}
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__right,
.header__left {
	display: flex;
	align-items: center;
}
.header__menu,
.header__btn-text {
	display: none;
}
.header__burger {
	width: 20px;
}
.header__burger img {
	width: 100%;
}
.header__contact {
	font-size: 18px;
	font-weight: 900;
	margin-right: 35px;
}
.header__btn {
	display: block;
	width: 26px;
	height: 26px;
	background-image: url(../img/call.png);
}
.promo {
	position: relative;
	z-index: 1;
	min-width: 100%;
	padding-top: 415px;
	margin-bottom: 50px;
	background: url(../img/bg-mobile.png) right 105px no-repeat;
	/* background-size: cover; */
}
.promo:before {
	position: absolute;
	z-index: -1;
	top: 65px;
	right: 8%;
	content: url(../img/hero-mobile.png);
}
.promo-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.promo__heading {
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 10px;
}
.promo__subheading,
.services-item__text,
.projects-item__text {
	color: #8993ad;
	text-align: center;
	line-height: 24px;
}
.btn-primary {
	display: inline-block;
	max-width: 100%;
	color: #fff;
	background-color: #ff4e2e;
	cursor: pointer;
	padding: 20px 60px;
}
.promo__btn {
	padding: 20px 70px;
	margin-top: 25px;
	
}
.services {
	margin-bottom: 100px;
}
.services-container,
.services-block,
.projects-container,
.projects-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.services__heading,
.projects__heading {
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 45px;
	text-align: center;
}
.services-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 55px;
}
.services-item__img,
.projects-item__img {
	margin-bottom: 20px;
}
.projects {
	margin-bottom: 50px;
}
.slider-prev,
.slider-next {
	display: none;
}
.projects-item {
	display: none;
}
.projects-item:nth-child(1) {
	display: block;
}
.projects-item__active {
	display: block;
}
.projects-item__img,
.projects-item__img img {
	width: 100%;
}
.projects .slider-block {
	width: 60px;
	display: flex;
	justify-content: space-between;
	margin: 45px auto;
}
.slider-item {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ebebeb;
}
.slider-item__active {
	background-color: #ff4e2e;
}
.banner {
	background-image: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
}
.banner-container {
	color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}
.banner__heading {
	font-size: 28px;
	font-weight: 900;
	line-height: 40px;
	margin-bottom: 45px;
}
.banner__subheading {
	font-size: 14px;
	line-height: 30px;
}
.contacts-container {
	display: flex;
	flex-direction: column;
	padding: 50px 0;
}
.contacts__menu a {
	display: block;
	font-size: 15px;
	color: #8993ad;
	margin-bottom: 18px;
}
.contacts__info {
	font-size: 20px;
	font-weight: 500;
	color: #8993ad;
	margin-top: 30px;
}
.contacts__info div {
	margin-bottom: 25px;
}
.contacts__info i {
	margin-right: 20px; 
	background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
.contacts__btn {
	padding: 20px 70px;
	margin-bottom: 50px;
}
.icon {
	display: inline-block;
	margin-right: 28px;
	background: url(../img/social.png) no-repeat;
}
.icon-vk {
	width: 35px;
	height: 21px;
	background-position: 0 -8px;
}
.icon-fb {
	width: 16px;
	height: 28px;
	background-position: -65px 0px;
}
.icon-tw {
	width: 29px;
	height: 25px;
	background-position: -110px -5px;
}
.icon-ig {
	width: 25px;
	height: 25px;
	background-position: -170px -3px;
}
footer {
	background-color: #31293c;
}
.footer-container {
	display: flex;
	justify-content: center;
	padding: 18px 60px;
	color: #fff;
	font-size: 11px;
}

@media (min-width: 768px) {
	.promo {
		/* background-image: url(../img/bg-tablet.png); */
		/* background-position: right 0; */
	}
	.promo__heading {
		font-size: 42px;
	}
	.promo__subheading {
		font-size: 20px;
	}
	.services__heading,
	.projects__heading {
		font-size: 42px;
	}
	.services-block {
		flex-flow: row wrap;
		justify-content: center;
	}
	.projects-block {
		flex-direction: row;
		justify-content: space-between;
	}
	.services-item {
		flex-basis: 50%;
		margin-bottom: 85px;
	}
	.projects-item {
		flex-basis: 47%;
	}
	.projects-item:nth-child(3) {
		display: block;
	}
	.services-item__text {
		max-width: 270px;
		font-size: 18px;
	}
	.projects-item__text {
		font-size: 18px;
	}
	.banner__heading {
		font-size: 36px;
		line-height: 50px;
		margin-bottom: 40px;
	}
	.banner__subheading {
		max-width: 750px;
		font-size: 15px;
	}
	.contacts-container {
		flex-direction: row;
		justify-content: space-between;
		/* align-items: flex-start; */
	}
	.contacts__info {
		color: #000;
		font-size: 25px;
		margin: 0;
	}
	.contacts__info div {
		margin-bottom: 35px;
	}
	.contacts__btn {
		font-size: 16px;
		padding: 15px 60px;
		color: #ff6375;
		background: none;
		outline: 1px solid #ff5e79;
		margin-bottom: 30px;
	}
	.footer-container {
		font-size: 14px;
	}
}

@media (min-width: 992px) {
	.container {
		padding: 0 40px;
	}
	.header__burger {
		width: 45px;
	}
	.header__contact {
		font-size: 22px;
		margin-right: 30px;
	}
	.header__btn {
		width: auto;
		height: auto;
		background: none;
		color: #f53f4f;
		padding: 15px 40px;
		outline: 1px solid #f82370;
	}
	.header__btn-text {
		display: inline-block;
	}
	.promo {
		margin-bottom: 90px;
		padding-top: 250px;
		padding-bottom: 230px;
		background-position: right bottom;
		background-image: url(../img/bg-tablet.png);
	}
	.promo:before {
		content: url(../img/hero-tablet.png);
		top: auto;
		bottom: 0;
	}
	.promo-container {
		align-items: flex-start;
	}
	.promo__heading {
		font-size: 54px;
		margin-bottom: 28px;
	}
	.promo__subheading {
		font-size: 22px;
		text-align: left;
	}
	.promo__btn {
		margin-top: 46px;
		font-size: 18px;
		font-weight: 500;
		padding: 25px 95px;
	}
	.services__heading,
	.projects__heading {
		font-size: 54px;
		margin-bottom: 90px;
		padding-top: 20px;
	}
	.banner__heading {
		font-size: 44px;
		line-height: 60px;
		margin-bottom: 40px;
	}
	.banner__subheading {
		max-width: 800px;
		font-size: 16px;
	}
	.contacts-container {
		padding: 100px 0 80px;
	}
	.footer-container {
		font-size: 16px;
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 1170px;
	}
	.header__burger {
		display: none;
	}
	.header__menu {
		display: flex;
	}
	.header__menu-link { 
		margin-right: 30px;
	}
	.header__menu-link_active {
		color: #fc557c;
		text-decoration: underline; 
	}
	.promo {
		background-image: url(../img/bg-full.png);
	}
	.promo:before {
		content: url(../img/hero-full.png);
		right: 15%;
	}
	.promo__heading {
		font-size: 72px;
	}
	.promo__btn {
		padding: 20px 70px;
	}
	.services-block {
		justify-content: space-between;
		margin-bottom: 95px;
	}
	.projects-block {
		flex-flow: row nowrap;
		position: relative;
	}
	.slider-prev,
	.slider-next {
		display: block;
		position: absolute;
		top: 110px;
		border-radius: 50%;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
		cursor: pointer;
	}
	.slider-prev {
		left: -30px;
	}
	.slider-next {
		right: -30px;
		transform: rotate(180deg);
	}
	.services-item,
	.projects-item {
		flex-basis: auto;
		margin-bottom: 0;
	}
	.projects-item {
		max-width: 32%;
	}
	.projects-item:nth-child(4) {
		display: block;
	}
}