html, body {
	padding: 0;
	margin: 0;
}
body {
	min-width: 320px;
	margin-top: 30px;
	
	font-family: 'Roboto', sans-serif;
	color: #1f1f24;
}
a {
	text-decoration: none;
	color: #1f1f24;
}
h1, h2, p {
	padding: 0;
	margin: 0;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container {
	/* max-width: 1170px; */
	padding: 0 20px;
	margin: 0 auto;
}
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__right,
.header__left {
	display: flex;
	align-items: center;
}
.header__menu,
.header__btn-text {
	display: none;
}
.header__burger {
	width: 20px;
}
.header__burger img {
	width: 100%;
}
.header__contact {
	font-size: 18px;
	font-weight: 900;
	margin-right: 35px;
}
.header__btn {
	display: block;
	width: 26px;
	height: 26px;
	background-image: url(../img/call.png);
}
.promo {
	background-image: url(../img/photo-mobile.jpg);
	background-repeat: no-repeat;
	margin-bottom: 50px;
}
.promo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 415px;
}
.promo__heading {
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 10px;
}
.promo__subheading,
.services-item__text {
	color: #8993ad;
	text-align: center;
	line-height: 24px;
}
.btn-primary {
	display: block;
	max-width: 100%;
	color: #fff;
	background-color: #ff4e2e;
}
.promo__btn {
	padding: 20px 70px;
	margin-top: 25px;
}
.services {
	margin-bottom: 100px;
}
.services-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.services__heading {
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 45px;
}
.services-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 55px;
}
.services-item__img {
	margin-bottom: 20px;
}
.services__btn {
	padding: 20px 60px;
}
.banner {
	background-image: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
}
.banner-container {
	color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}
.banner__heading {
	font-size: 28px;
	font-weight: 900;
	line-height: 40px;
	margin-bottom: 45px;
}
.banner__subheading {
	font-size: 14px;
	line-height: 30px;
}

@media (min-width: 768px) {
	.banner__heading {
		font-size: 36px;
		line-height: 50px;
		margin-bottom: 40px;
	}
	.banner__subheading {
		max-width: 750px;
		font-size: 15px;
	}
}

@media (min-width: 992px) {
	.container {
		padding: 0 40px;
	}
	.header__burger {
		width: 45px;
	}
	.header__contact {
		font-size: 22px;
		margin-right: 30px;
	}
	.header__btn {
		width: auto;
		height: auto;
		background: none;
		color: #f53f4f;
		padding: 15px 40px;
		outline: 1px solid #f82370;
	}
	.header__btn-text {
		display: inline-block;
	}
	.promo {
		background-image: url(../img/photo-tablet.jpg);
		background-position: right bottom;
		margin-bottom: 90px;
	}
	.promo-container {
		align-items: flex-start;
		padding-top: 250px;
		padding-bottom: 230px;
	}
	.promo__heading {
		font-size: 54px;
		margin-bottom: 28px;
	}
	.promo__subheading {
		font-size: 22px;
		text-align: left;
	}
	.promo__btn {
		margin-top: 46px;
		font-size: 18px;
		font-weight: 500;
		padding: 25px 95px;
	}
	.banner__heading {
		font-size: 44px;
		line-height: 60px;
		margin-bottom: 40px;
	}
	.banner__subheading {
		max-width: 800px;
		font-size: 16px;
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 1170px;
	}
	.header__burger {
		display: none;
	}
	.header__menu {
		display: flex;
	}
	.header__menu-link { 
		margin-right: 30px;
	}
	.header__menu-link_active {
		color: #fc557c;
		text-decoration: underline; 
	}
	.promo__heading {
		font-size: 80px;
	}
	.promo__btn {
		padding: 20px 70px;
	}
}